
@{
    Layout = null;
}
@model ShopUI.ServiceReference.Book
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book</title>
</head>
<body>
        <p>@Model.name </p>
        <p>Цена: @Model.cost</p>
        <p>Описание:</p>
        <p>@Model.description</p>

        <p><a href="/Home/EditBook/@Model.id">Изменить</a></p>
</body>
</html>
