@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateBook</title>
</head>
<body>
    <form method="post" action="">
        <p>Название: </p>
        <input type="text" name="Name" value="" />
        <p>Цена:</p>
        <input type="text" name="Cost" value="" />
        <p>Описание:</p>
        <input type="text" name="Description" value="" />
        <input type="submit" value="Отправить" />

        <p>@ViewBag.Msg</p>
    </form>
</body>
</html>
