@model ShopUI.ServiceReference.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditUser</title>
</head>
<body>
    <form method="post" action="">
        <p>Email: </p>
        <input type="text" name="Email" value="@Model.email" />
        <p>Имя:</p>
        <input type="text" name="FirstName" value="@Model.firstName"/>
        <p>Фамилия:</p>
        <input type="text" name="LastName" value="@Model.lastName"/>
        <input type="submit" value="Отправить" />

        <p><a href="/Home/DeleteUser/@Model.id">Удалить пользователя</a></p>
        <p>@ViewBag.Msg</p>
    </form>
</body>
</html>
